@model List<FutStat.Models.Teams.Team>
@{

}

<table>
    <thead>
        <tr>
            <td>Лого</td>
            <td>Название</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td hidden id="LeagueId">@team.LeagueId</td>
                <td><img src="@team.Logo" height="50" /></td>
                <td>@team.Name</td>
            </tr>
        }
    </tbody>
</table>
