@model List<FutStat.Models.Team>
@{

}

<table>
    <thead>
        <tr>
            <td>Лого</td>
            <td>Название</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td><img src="@team.LogoUrl" height="50" /></td>
                <td>@team.FullName (@team.ShortName)</td>
            </tr>
        }
    </tbody>
</table>
